.inputFieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputLabel {
  margin-bottom: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6976a9;
}

.inputRequired {
  color: #ef4444;
}

.inputElement {
  width: 100%;
  padding: 0.75rem 0.25rem;
  font-size: .9rem;
  border-radius: 0.375rem;
  border: 1px solid #636c72;
  background-color: #ffffff;
  color: #6976a9;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.inputElement:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 1px #3b82f6;
}

@media (prefers-color-scheme: dark) {
  .inputLabel {
    color: #6976a9;
  }

  .inputElement {
    background-color: transparent;
    color: #6976a9;
    border-color: rgb(234 240 247);
  }

  .inputElement:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
  }
}

@media screen and (max-width: 768px) {
  .inputElement {
    font-size: 0.95rem;
    padding: 0.65rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .inputElement {
    font-size: 0.9rem;
    padding: 0.6rem 0.875rem;
  }
}
